<ion-view title="Top tracks">
  <ion-content class="padding">

  	<h2 class="title" style="text-align: center;">{{artistName}}</h2>

  	<ion-list>
      <ion-item ng-repeat="item in tracks">
        <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)">
        </ion-delete-button>
        <h3>{{item.name}}</h3>
        <p>{{item.artists[0].name}} • {{item.album.name}}</p>
        <ion-reorder-button class="ion-navicon" on-reorder="onItemMove(item, $fromIndex, $toIndex)"></ion-reorder-button>
  		</ion-item>
  	</ion-list>

  </ion-content>
</ion-view>


