<ion-view view-title="Account">
  <ion-content class="padding">
		<button class="button button-block button-assertive" ng-click="performLogout()">
		  Log out
		</button>
		<button class="button button-block button-royal" ng-click="logCurrentUser()">
			Log current user
		</button>
		<button class="button button-block" ng-click="setExpiredAuthToken()">
			Set expired auth token
		</button>
		<button class="button button-block button-calm" ng-click="setTimer()">
			Set timer
		</button>
  </ion-content>
</ion-view>
