<ion-view view-title="Search Arist or Track">
  <ion-content>

    <!-- Search Bar -->
    <form class="item item-input-inset" ng-submit="onSubmit(query)">
      <label class="item-input-wrapper">
        <!-- query doesn't exist on scope of SearchCtrl -->
        <!-- Must be passed to ctrl through onSubmit function -->
        <input type="text" placeholder="Search" ng-model="query">
      </label>
      <button class="button button-small">
        Submit
      </button>
    </form>

    <!-- Track Results -->
    <ion-list>
      <ion-item class="item-divider">
        Tracks
      </ion-item>
      <ion-item ng-repeat="item in trackResults">
        {{item}}
      </ion-item>
    </ion-list>

    <!-- Artist Results -->
    <ion-list>
      <ion-item class="item-divider">
        Artists
      </ion-item>
      <ion-item ng-repeat="item in artistResults">
        {{item}}
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
